<% if user_signed_in? && current_user.business == false  %>
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>

    <!-- <img src="https://res.cloudinary.com/neals/image/upload/v1547808069/logo1.png" alt="logo"> -->
    <%= image_tag "logo1.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <!-- <a href="" class="navbar-wagon-item navbar-wagon-link"> Hello, <%= current_user.username %></a> -->
      <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "Health Forum", public_path%> </span>
      <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "New record", new_record_path %> </span>
      <%= link_to "Search for record(s)", search_path, class: "navbar-wagon-item navbar-wagon-link" %>


      <!-- Avatar with dropdown menu -->

      <div class="navbar-wagon-item">
        <div class="dropdown">
         <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li class = "pie">
              <%= link_to records_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "My records") %>
              <% end %>
            </li>
            <li class = "pie">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> <%= t(".setting", default: "Settings") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>



    <% end %>
  </div>

 <% if user_signed_in?%>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class = "pie">
              <%= link_to public_path do %>
                <i class="fa fa-users"></i> <%= t(".p", default: "Health Forum") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to new_record_path do %>
                <i class="fa fa-square"></i> <%= t(".p", default: "New record") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to search_path do %>
                <i class="fa fa-search"></i> <%= t(".p", default: "Search record(s)") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to records_path do %>
                <i class="fa fa-user"></i> <%= t(".p", default: "My records") %>
              <% end %>
            </li>
             <li class = "pie">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> <%= t(".setting", default: "Settings") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
      </ul>
    </div>
  </div>
</div>



<% else %>


 <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li class = "pie">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user"></i>  <%= t(".sign_in", default: "Sign Up") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-arrow-right"></i> <%= t(".p", default: "Log in") %>
              <% end %>
            </li>

      </ul>
    </div>
  </div>
</div>

<% end %>








<% elsif user_signed_in? && current_user.business == true%>
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>

    <!-- <img src="https://res.cloudinary.com/neals/image/upload/v1547808069/logo1.png" alt="logo"> -->
    <%= image_tag "logo1.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <!-- <a href="" class="navbar-wagon-item navbar-wagon-link"> Hello, <%= current_user.username %></a> -->
      <span class="navbar-wagon-item navbar-wagon-link"> Business User </span>


      <!-- Avatar with dropdown menu -->

      <div class="navbar-wagon-item">
        <div class="dropdown">
         <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>

 <% if user_signed_in?%>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
             <li class = "pie">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> <%= t(".setting", default: "Settings") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
      </ul>
    </div>
  </div>
</div>



<% else %>


 <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li class = "pie">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user"></i>  <%= t(".sign_in", default: "Sign Up") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-arrow-right"></i> <%= t(".p", default: "Log in") %>
              <% end %>
            </li>


      </ul>
    </div>
  </div>
</div>

<% end %>

<% else %>

<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>

    <!-- <img src="https://res.cloudinary.com/neals/image/upload/v1547808069/logo1.png" alt="logo"> -->
    <%= image_tag "logo1.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <!-- <a href="" class="navbar-wagon-item navbar-wagon-link"> Hello, <%= current_user.username %></a> -->
      <span class="navbar-wagon-item navbar-wagon-link"> <%= link_to "New record", new_record_path %> </span>
      <%= link_to "Search for record(s)", search_path, class: "navbar-wagon-item navbar-wagon-link" %>


      <!-- Avatar with dropdown menu -->

      <div class="navbar-wagon-item">
        <div class="dropdown">
         <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li class = "pie">
              <%= link_to records_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "My records") %>
              <% end %>
            </li>
            <li class = "pie">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> <%= t(".setting", default: "Settings") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>

 <% if user_signed_in?%>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class = "pie">
              <%= link_to new_record_path do %>
                <i class="fa fa-square"></i> <%= t(".p", default: "New record") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to search_path do %>
                <i class="fa fa-search"></i> <%= t(".p", default: "Search record(s)") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to records_path do %>
                <i class="fa fa-user"></i> <%= t(".p", default: "My records") %>
              <% end %>
            </li>
             <li class = "pie">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> <%= t(".setting", default: "Settings") %>
              <% end %>
            </li>

            <li class = "pie">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-window-close"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
      </ul>
    </div>
  </div>
</div>



<% else %>


 <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li class = "pie">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user"></i>  <%= t(".sign_in", default: "Sign Up") %>
              <% end %>
            </li>
        <li class = "pie">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-arrow-right"></i> <%= t(".p", default: "Log in") %>
              <% end %>
            </li>


      </ul>
    </div>
  </div>
</div>

<% end %>
<% end %>











