<div class = "form"> <%= simple_form_for(@record) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "datepicker"}, label: "Date" %>


    <%= f.label :name, label: "Reason" %><br>

  <%= f.select(:name, [['Vaccine', 'Vaccine'],['Regular Checkup', 'Regular Checkup'], ['Cold', 'Cold'], ['Skin Disorder', 'Skin Disorder'], ['Joint Pain', 'Joint Pain'], ['Cholesterol Problems','Cholesterol Problems'],['High Blood Pressure','High Blood Pressure'],['Other', 'Other']], {:prompt => "Choose One"}, {class: "form-control", id: "reasonedit_description"}) %>
  <br>

<div id="otherReasonedit">
    <%= f.text_field :name_other, class: "form-control" %>
  </div>


  <%= f.select(:vaccine, [ ['Moderna 1 (COVID-19)','Moderna 1 (COVID-19)'], ['Moderna 2 (COVID-19)', 'Moderna 2 (COVID-19)'], ['Pfizer 1 (COVID-19)', 'Pfizer 1 (COVID-19)'], ['Pfizer 2 (COVID-19)', 'Pfizer 2 (COVID-19)'], ['Johnson & Johnson (COVID-19)', 'Johnson & Johnson (COVID-19)'],['Vaccinia (smallpox)', 'Vaccinia (smallpox)'],['Measles, mumps, rubella (MMR combined vaccine)', 'Measles, mumps, rubella (MMR combined vaccine)'], ['Varicella (chickenpox)', 'Varicella (chickenpox)'], ['Influenza (nasal spray)', 'Influenza (nasal spray)'], ['Rotavirus', 'Rotavirus'], ['Zoster (shingles)','Zoster (shingles)'],['Yellow fever','Yellow fever'],['Other', 'Other']], {:prompt => "Choose One"}, {class: "form-control", id: "vaccineedit_description"}) %>
  <br>
    <div id="otherVaccine">
    <%= f.text_field :vaccine_other, class: "form-control" %>
  </div>

  <div class = "optionalInfo"> <strong> Optional Info: </strong> </div>
  <%= f.input :photo, label: "Receipt(s) Upload:" %>
 <%= f.input :photo_cache, as: :hidden %>

  <%= f.input :doctor, label: "Doctor name" %>

    <strong> <%= f.label "Prescription" %> </strong> <br />
    <%= f.collection_check_boxes :prescription_ids, Prescription.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>

      <%= f.input :prescription_name, label: "Prescription name" %>

      <strong> <%= f.label "Xray Done?" %> </strong> <br />
    <%= f.collection_check_boxes :xray_ids, Xray.all, :id, :name do |b| %>
      <div class="collection-check-box">
       <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>

      <strong> <%= f.label "Test Done?" %> </strong> <br />
    <%= f.collection_check_boxes :test_ids, Test.all, :id, :name do |b| %>
      <div class="collection-check-box">
       <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>

 <%= f.label :description, "If Yes, Choose Test Type" %><br>

  <%= f.select(:description, [['None', 'None'], ['Blood Test', 'Blood Test'], ['Echocardiography', 'Echocardiography'], ['Colonoscopy', 'Colonoscopy'], ['Other', 'Other']], {}, {class: "form-control", id: "expens_description"}) %>
  <br>
  <div id="otherDes">
    <%= f.text_field :description_other, class: "form-control" %>
  </div>

<%= f.label :rating, "Doctor Rating" %><br>

   <%= f.select(:rating, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']], { :prompt => "Choose One"}, {class: "form-control"}) %>
   <br>
<%= f.input :comment, label: "Comments:" %>
<br>





  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary updateButton', id: 'sweet-alert-edit' %>
  </div>
<% end %>

</div>
