<div class="container">

  <% flash.each do |key, value| %>
    <% if key == "success" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
  <% end %>
  <%= yield %>
</div>
<div class="container">
<% flash.each do |key, value| %>
    <% if key == "info" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
  <% end %>
  <%= yield %>
</div>


<div class = "showform"
<p> Date: <strong> <%= @date.strftime("%B %d, %Y") %> </strong> </p>

<p>
  Reason:
  <strong> <%= @record.name == "Other" ? @record.name_other : @record.name %> </strong>
</p>

<% if @record.name == "Vaccine" %>
<p>
  Vaccine type:
  <strong> <%= @record.vaccine == "Other" ? @record.vaccine_other : @record.vaccine %> </strong>
</p>
<% end %>

<p> Doctor: <strong> <%= @record.doctor %> </strong> </p>
  <p> Were you given a prescription? <strong> <%= @prescription_names.to_sentence %> </strong>
</p>
<p> Prescription type: <strong> <%=@record.prescription_name %> </strong> </p>

 <p> Xray? <strong> <%= @xray_name.to_sentence %> </strong> </p>

<p> Test Done? <strong> <%= @tests.to_sentence %> </strong> </p>


  <% if  @record.description == "Other"%>
    <p> Test type: <strong> <%= @record.description_other %> </strong> </p>
  <% elsif  @record.description == "None"%>
    <p> Test type:  </p>
  <% else %>
    <p> Test type: <strong> <%= @record.description %> </strong> </p>
  <% end %>


<p> Doctor Rating: <strong> <%= @record.rating %></strong> </p>

<p> Comments: <strong> <%= @record.comment %> </strong> </p>
<p> Photo:
  <% if @record.photo? %>
  <li class="thumbnail col-xs-2">
        <%= link_to @secure, class: :popup_link, target: :_blank do %>
         <%= image_tag @secure, class: "imagesrc"  %>
       <% end %>
     </li>
     <% end %>
   </p>
   <% if @record.photo? %>
   <span class = "viewphoto"> (Click to view) </span>
   <% end %>
<br>

<% if @record.photo? %>
<%= link_to picdestroy_path(@record), method: :delete do %>
  <i class="fa fa-trash deleteicon" aria-hidden="true"></i> (Delete)
<% end %>
<% end %>



<div class = "movebuttons">
<div> <%= link_to 'Edit', edit_record_path(@record), class: "showbutton" %> |
<%= link_to 'All Records', records_path, class: "showbutton" %> </div>
<br>

 <div> <%= link_to 'Search for record(s)', search_path, class: "showbutton" %> </div>
</div>

 <!-- comment -->
 <% if false %>
<%  @prescription_names.each do |x| %>
  <%= x %>
  <% end %>
<% end %>

</div>
