


<% posts.each do |post| %>

<div class="card-trip">

  <div class="card-trip-infos">
    <div id="vote-actions-<%= post.id %>" class="vote" data-id="<%= post.id %>">
                    <div class="fa fa-arrow-up upvote  <%= is_upvoted post %>"></div>
                    <span class="font-weight-bold score"><%= post.score %></span>
                    <div class="fa fa-arrow-down downvote  <%= is_downvoted post %>"></div>
                </div>
    <div>
        <div class="col-11">
                <h4 class="mb-1"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
                <p><small><%= link_to post.community.name, community_path(post.community) %> Posted by <%= link_to post.user.username, profile_path(post.user.username) %> <%= time_ago_in_words post.created_at %> ago.</small></p>
                <p><%= truncate post.body, length: 200 %></p>
                <p><%= post.total_comments %> Comments</p>
            </div>
    </div>


  </div>
</div>
<% end %>




